.form__button {
  margin-bottom: 16px;
  border: none;
  background: #000000;
  border-radius: 3px;
  width: 100%;
  padding: 13px 0 15px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;

}

.form__button:hover {
  cursor: pointer;
  opacity: 0.8;
}
