.form__label_profile {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  width: 141px;
}



@media screen and (max-width:767px) {
  .form__label_profile {
    width: 130px;
  }

}
