.search__checkbox {
  display: flex;
  align-items: center;
  padding: 26px 30px 26px 29px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: #F9F9F9;
}

@media screen and (max-width:1279px) {
  .search__checkbox {
    padding: 26px 20px 26px 19px;
  }
}

@media screen and (max-width:767px) {
  .search__checkbox {
    padding: 0;
    background: none;
  }
}
