.search__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}


@media screen and (max-width:767px) {
  .search__block {
    flex-direction: column;
    height: 100%;
  }
}
