.burger__nav {
  margin: 160px 90px 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}


@media screen and (max-width:767px) {
  .burger__nav {
    margin: 144px 10px 0;
  }
}
