.technologies__component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #E8E8E8;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

@media screen and (max-width:1279px) {
  .technologies__component {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}
