.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(364px, min-content));
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0 0 30px;
  row-gap: 30px;
  column-gap: 24px;
}

@media screen and (max-width:992px) {
  .cards {
    grid-template-columns: min-content min-content;

  }
}

@media screen and (max-width:767px) {
  .cards {
    grid-template-columns: min-content;
    gap: 16px;
  }
}
