.technologies__text {
  margin: 0 auto 100px;
  max-width: 400px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

@media screen and (max-width:1279px) {
  .technologies__text {
    margin: 0 auto 83px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width:767px) {
  .technologies__text {
    margin: 0 auto 50px;
    font-size: 11px;
    line-height: 16px;
  }
}
