.card__images {
  width: 100%;
  height: 203px;
  object-fit: cover;

}

@media screen and (max-width:1279px) {
  .card__images {
    height: 190px;
  }
}

@media screen and (max-width:767px) {
  .card__images {
    height: 168px;
  }
}
