.checkbox__text {
  display: inline-block;
  height: 100%;
  position: relative;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  padding-left: 50px;
}

.checkbox__text:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2BE080;
  width: 36px;
  height: 20px;
  border-radius: 20px;
}

.checkbox__text::after {
  display: block;
  content: "";
  position: absolute;
  top: 2px;
  left: 18px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);

}

@media screen and (max-width:1279px) {
  .checkbox__text {
    padding-left: 49px;
  }
}
