.link_signin {
  border-radius: 3px;
  background-color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 8px 20px;
  text-decoration: none;
}

.link_signin:hover {
  opacity: 0.8;
  cursor: pointer;
}


@media screen and (max-width:767px) {
  .link_signin {
    font-size: 10px;
    padding: 5px 12px;
    ;
  }
}
