.burger__menu {
  height: 7px;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

.burger__menu:last-child {
  border-top: none;
}

@media screen and (max-width:767px) {
  .burger__menu {
    height: 6.5px;
    border-top: 2.5px solid #000000;
    border-bottom: 2.5px solid #000000;
  }
}
