.technologies__components {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(84px, min-content));
  justify-content: center;
  gap: 10px;

}

@media screen and (max-width:767px) {
  .technologies__components {
    grid-template-columns: min-content min-content;

  }
}
